.guest-homepage__title,
.guest-homepage__options__login > p,
.guest-homepage__options__register > p {
    color: rgb(248, 248, 248);
}

.guest-homepage {
    margin-top: 5em;

    &__title {
        margin: 12em 0 5em 0;
    }

    &__options {
        display: flex;
        justify-content: center; 
        
        &__login > p,
        &__register > p {
            font-size: 2em;
        }

        &__login > li,
        &__register > li {
            display: inline-block;
            background-color: rgb(13, 56, 65);
            border-radius: .5em;
            margin: 1.5em;
            padding: 1em;
        }
        
        &__login {
            margin-right: 2em;
            
            @media screen and (max-with: 1010px) {
                width: 0;
            }
            
            @media screen and (max-width: 470px) {
                margin-right: 1em;  
            }
        }
    }
}

