.Homepage {
    position: relative
}

.GuestHomepageGif {
    position: absolute;
    transform: translate(15%, -6.7%);
}

.GuestHomepageTitle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    color: rgb(95, 4, 95);
    text-shadow: rgb(253, 253, 253) 0px 0px 2px;
}

.GuestHomepageButtons {
    position: absolute;
    left: 45%;
    top: 67%;
}

.GuestHomepageButtons li { 
    list-style-type: none;
    display: inline;
}

.GuestHomepageButtons a {
    padding: 10%;
    border: 1px solid rgb(95, 4, 95);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-shadow: rgb(253, 253, 253) 0px 0px 2px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(95, 4, 95);
}

.GuestHomepageButtons li:first-child {
    margin-left: -25%;
}

.GuestHomepageButtons li:nth-child(2) {
    margin-left: 15%;
}