.Contacts {
    color: rgb(206, 171, 126);
}

.Contacts h1 {
    padding-top: 2%;
    text-decoration: underline;
}

.Contacts h2 {
    padding-bottom: 0.3%
}

.Contacts h4, h5 {
    position: fixed;
}

.Contacts h4 {
    bottom: 70px;
    left: 43%;
}

.Contacts h5 {
    bottom: 46px;
    left: 44.8%;
}