.Main {
    position: absolute;
    background-color: rgb(253, 233, 219);
    width: 100%;
    height: auto;
    margin: auto;
    /* width: 99.9%;
    height: 81.3%; */
}

*:focus {
    outline: 0;
}