.DeletePost {
    position: relative;
}

.Options li {
    display: inline-block;
    list-style-type: none;
    margin-top: 2.5%;
    background-color: rgb(9, 175, 161);
    border: rgb(9, 175, 161);
    text-align: center;
    border-radius: 5px;
}

.Options li:first-child {
    margin-right: 1.5%;
    padding-top: 1.8%;
    padding-bottom: 1.2%;
    padding-left: 2.2%;
    padding-right: 2.2%;
    font-size: 20px;
}

.Options li:nth-child(2) {
    background-color: rgb(212, 47, 56);
    padding: 1% 2.1%;
    font-size: 24px;
}

.Options a {
    text-decoration: none;
    color: white;
}

.EditButton {
    margin-right: 2%;
    padding: 1%;
}

.Message {
    position: absolute;
    border-radius: 8px;
    border: 2px solid rgb(128, 0, 0);
    background-color: rgb(141, 10, 10);
    color: whitesmoke;
    top: 30%;
    left: 24%;
    width: 50%;
    height: 100%;
    padding-top: 3%;
    opacity: 0.8;
}

.DeletePost input[type="text"]:disabled, textarea:disabled {
    background: rgb(248, 224, 206);
}