.NewPost form div:nth-child(1) {
    transform: translate(-9%, -40%);
}

.NewPost label:first-child {
    transform: translate(-25%, -12%);
}

.NewPost label {
    transform: translate(-25%, -12%);
    font-size: 25px;
}

.NewPost input {
    transform: translate(-15%, -12%);
    font-size: 30px;
}

.NewPost ::placeholder {
    font-size: 30px;
}

.Description {
    transform: translate(-60%, -4%);
}

.NewPost .Description label {
    transform: translate(100%, -12%);

}
.Description textarea::-webkit-input-placeholder {
    padding-top: 93px;
    font-size: 30px;
}

.NewPost div button {
    font-size: 26px;
    padding: 3%;
    transform: translate(12%, -4%);
}