.Heading {
    font-size: 19px;
    text-decoration: underline;
    color: rgba(167, 9, 9, 0.452)
}

.NewPost input, textarea {
    background-color: rgb(248, 224, 206);
}

.Description textarea {
    border: 2px solid rgb(197, 44, 44);
    border-radius: 12px;
}