.NewPost {
    width: 30%;
    height: 75%;
    margin: 1.8% auto;
}

.Heading{
    font-size: 20px;
    text-decoration: underline;
    color: rgba(167, 9, 9, 0.452);
    padding-bottom: 1.1%;
}

textarea {
    resize: none;
    border: 2px solid rgb(197, 44, 44);
    border-radius: 12px;
    text-align: center;
    font-size: 21px;
    color: rgb(179, 74, 74);
    background-color: rgb(253, 233, 219);
}