.navigation,
ul,
.navigation__left-side,
.navigation__right-side {
    display: flex;
}

.navigation {
    margin: auto;
    width: 100%;
    background-color:rgb(87, 107, 90);
    position: fixed;
    top: 0%;
    height: 4.5em;
    color: rgb(248, 248, 248);

    &__left-side {
        padding-left: 2em;

        &__logo {
            margin: .5em .7em;
            width: 5em;
            height: 4em;
        }
    
        &__name {
            font-size: 2em;
            display: inline-block;
            margin-top: .9em;
        }
    }


    &__right-side {
        position: absolute;
        right: 2em;
        margin-top: 1.7em;
        
        &__button {
            display: none;
        }

        @media screen and (max-width: 1010px) {
            display: none;
            right: 0;
            margin: 4.4em auto;
            width: 100%;
            background-color: rgb(87, 107, 90);

            &__button {
                display: block;
                position: absolute;
                right: 1em;
                top: .8em;
                font-size: 1.8em;
                background-color: rgb(87, 107, 90);
                color: rgb(248, 248, 248);
                border: none;
            }

            &__button:focus {
                outline: none;
            }
        }
    }
}

