/* nav .list-item {
    height: auto;
    cursor: pointer;
    vertical-align: top;
    padding-right: 0.7%;
    font-size: 25px;
    margin: 0.2%;
}

nav .list-item a {
    text-decoration: none;
    color: palegoldenrod;
    letter-spacing: 3px;
} */