.Navigation {
    width: 100%;
    height: 10.1vh;
    background-color: brown;
    position: fixed;
    top: 0;
    border-bottom: 2px solid brown;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.LogoAndName {
    float: left;
    color: palegoldenrod;
    letter-spacing: 3px;
}

.LogoAndName img {
    width: 60px;
    float: left;
    margin-top: -2%;
}

.LogoAndName p {
    display: inline-block;
    font-size: 25px;
    margin-top: 2%;
}

