.Homepage {
    position: relative;
    text-align: center;
    background-color: seashell;
}

.Title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(95, 4, 95);
    text-shadow: rgb(253, 253, 253) 0px 0px 2px;
}